# Files needed to run individual templates with paima-standalone locally, not relevant for version control
/documentation
/packaged
/paima-sdk
/smart-contract
/snapshots
/contracts

# Config files for CDE
/*.yml

/logs.log
# [dev-]paima-engine-[linux|mac] maybe others in the future
/*paima-engine*
/.env*
