$primary-color: hsl(31, 88%, 59%);

.main-menu {
  .title {
    font-size: 4rem;
    color: $primary-color;
    margin-bottom: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px #000;
  }

  .subtitle {
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 4rem;
    text-shadow: 2px 2px #000;
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
