// Defaults

html,
body,
#app {
  height: 100%;
}

body {
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .game-score {
    display: flex;
    justify-content: space-between;
  }

  .game-info {
    font-size: 20px;
    font-weight: bold;
  }
}
