.wrapper {
  padding: 40px;
  background: rgba(119, 109, 104, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 32px;

  display: flex;
  flex-flow: column;
  gap: 40px;
}
